.projects {
  position: relative;
  @include content();

  h1 {
    @include underline();
    position: absolute;
    top: 100px;
    margin: 0px 0px 30px 30px;

    @include min-width($xs) {
      top: 50px;
      margin: 0px 0px 40px 40px;
    }
    
    @include min-width($m) {
      top: 0px;
    }
  }

  .projects--cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 10px;
  }

  .project-card {
    font-family: $native-font;
    position: relative;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: 100px;
    height: 150px;
    margin: 5px;

    @include min-width($xs) {
      width: 120px;
      height: 180px;
      margin: 10px;
    }
    
    @include min-width($m) {
      width: 160px;
      height: 240px;
      margin: 15px;
    }
    
    @include min-width($l) {
      width: 200px;
      height: 250px;
      margin: 30px;
    }

    &--container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 20px;
    }

    &--image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 20px;
      img {
        width: 100%;

        &#invaders {
          transform: scale(1.05);
          @include min-width($l) {
            transform: translateY(-30px);
          }
        }

        &#bday {
          @include min-width($l) {
            transform: translateY(-30px);
          }
        }
      }
    }
    
    &--content {
      background-color: rgba(255, 255, 255, 1);
      position: absolute;
      bottom: 0;
      border-radius: 20px;
      height: 100%;
      width: 100%;
      transition: all 0.3s ease-in-out;
      transform: translateY(100%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px;

      @include min-width($xs) {
        padding: 10px;
      }
      
      &--title {
        text-align: center;
        white-space: nowrap;
        font-weight: bold;
        font-size: 0.8rem;
        margin-bottom: 2px;

        @include min-width($xs) {
          font-size: 0.9rem;
          margin-bottom: 2px;
        }
        
        @include min-width($m) {
          font-size: 1.1rem;
          margin-bottom: 8px;
        }
        
        @include min-width($l) {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
      }
      
      &--description {
        height: 100%;
        padding: 1px 0px;
        overflow: auto;
      }

      &--link {
        display: flex;
        justify-content: flex-start;
        color: $accent-darker;
        font-weight: 600;

        span {
          transform: translateX(3px);
          transition: all 0.3s;
        }

        &:hover span {
          transform: translateX(20px);
        }
      }
      
      &--description, &--link {
        font-size: 0.7rem;

        @include min-width($xs) {
          font-size: 0.8rem;
        }
        
        @include min-width($m) {
          font-size: 1rem;
        }
        
        @include min-width($l) {
          font-size: 1rem;
        }
      }
      
      &--tags {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.5rem;

        span {
          margin: 2px;
          padding: 3px;
          display: inline-block;
          background: rgba(85, 206, 214, 0.5);
          border-radius: 4px;
          font-weight: 500;
        }

        @include min-width($xs) {
          font-size: 0.6rem;
        }
        
        @include min-width($m) {
          font-size: 0.7rem;
        }
        
        @include min-width($l) {
          font-size: 0.8rem;
          span {
            margin: 5px;
            padding: 5px;
          }
        }
      }
    }

    &--logo {
      width: 100%;
      position: absolute;
      top: 0;
      @include flexCenter();

      img {
        border-radius: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        width: 25px;
        height: 25px;
        
        @include min-width($xs) {
          width: 30px;
          height: 30px;
        }
        
        @include min-width($m) {
          width: 40px;
          height: 40px;
        }
        
        @include min-width($l) {
          width: 50px;
          height: 50px;
        }
      }
    }

    &:hover {
      .project-card--image img { 
        transition-delay: 0.3s;
        opacity: 0;
      }
      .project-card--content {        
        transform: translateY(0%)
      }
      .project-card--logo img {        
        transform: translateY(-30px);
        
        @include min-width($xs) {
          transform: translateY(-35px);
        }
        
        @include min-width($m) {
          transform: translateY(-47px);
        }
        
        @include min-width($l) {
          transform: translateY(-60px);
        }
      }
    }
  }
}

