.about {
  @include content();
  @include content-padding();

  .waving-hand {
    display: inline-block;
    color: white;
    margin-left: 10px;
    font-size: 1.2rem;
    
    @include min-width($xs) {
      font-size: 1.4rem;
      margin-left: 15px;
    }
    
    @include min-width($s) {
      font-size: 1.8rem;
    }
  }

  h1 {
    margin-bottom: 20px;

    span.code {
      font-family: $native-font;
      font-size: 15px;
      margin-left: 5px;
      
      @include min-width($xs) {
        font-size: 17px;
        margin-left: 8px;
      }

      @include min-width($s) {
        font-size: 20px;
        margin-left: 10px;
      }
      
      &:nth-child(1) {
        margin-left: 0;
        display: inline-block;
        color: $accent-darker;
        transform: translateX(-15px);

        @include min-width($xs) {
          transform: translateX(-20px);
        }
      }
      &:nth-child(2) {
        color: $accent-lighter;
      }
      &:nth-child(3) {
        color: $accent-darker;
      }
      &:nth-child(4) {
        color: $accent-darker;
      }
      &:nth-child(5) {
        color: $accent-darker;
      }
      &:nth-child(6) {
        color: $accent-lighter;
      }
      &:nth-child(7) {
        color: $accent-darker;
      }
    }
  }

  h3 {
    margin-bottom: 1rem;

    @include min-width(500px) {
      margin-bottom: 1.2rem;
    }
  }
  
  p {
    margin: 50px 0 0;
    color: $accent-darker !important;
    font-weight: 600;

    font-size: 12px;
    
    @include min-width($xs) {
      font-size: 14px;
    }

    @include min-width($s) {
      font-size: 16px;
    }
  }
}
