.about {
  transition: all 1s ease-in-out;
  transition-delay: 0s;
  padding: 50px;
  padding-bottom: 0;
  margin-top: 200vh;

  h1 {
    margin-bottom: 20px;
  }
}

.sticky-margin {
  margin-top: 200px;
  transition-delay: 0.3s;
}
