.projects {
  @include content();
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 50px;

  h1 {
    @include underline();
    margin: 50px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  input {
    display: none;
  }

  .projectLogos {
    margin-top: 20px;
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    transition: all 0.45s ease-in-out;
    z-index: 2;

    .semte {
      grid-column: 2;
    }
    .clauBday {
      grid-column: 3;
    }
    .labelsRoom {
      grid-column: 4;
    }
    .nativeApp {
      grid-column: 5;
    }
    .others {
      grid-column: 6;
    }

    picture {
      justify-self: center;
      transition: all 0.45s ease-in-out;
      transform-origin: center;
      z-index: 2;
      cursor: pointer;

      img {
        width: 14vw;
        max-width: 100px;
        height: auto;
        border-radius: 50%;
        border: 1px solid white;
        transition: all 0.45s ease-in-out;
        transform-origin: center;
        box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
          2px 2px 5px rgba(0, 0, 0, 0.8);

        &:hover {
          box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
            2px 12px 20px rgba(0, 0, 0, 0.4);
          transform: translateY(-10px) scale(1.1);
        }
      }
    }
  }

  .notChecked {
    &:hover {
      box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
        2px 12px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-10px) scale(1.1);
    }
  }

  .projectContent {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    .semteContent,
    .clauBdayContent,
    .labelsContent,
    .nativeContent,
    .othersContent {
      opacity: 0;
      transition: all 0.25s ease-in-out;
      position: absolute;
      width: 100%;
      background: linear-gradient(180deg, $accent 0%, white 100%);
      padding: 40px;
      z-index: -10;
      height: 100%;

      @include max-width(767px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-bottom-color: $accent;
        border-top: 0;
        margin-left: -20px;
        margin-top: -20px;
      }

      h2 {
        margin-bottom: 20px;
        font-weight: bold;
      }
    }

    .semteContent {
      &:after {
        left: 21.42vw;
      }

      .oldPage {
        h3 {
          margin-top: 10px;
          display: inline-block;
          transform: scale(0.8);
          text-decoration: none;
        }

        span {
          display: inline-block;
          transform: translateX(3px);
          transition: all 0.3s;
        }

        &:hover {
          span {
            transform: translateX(20px);
          }
        }
      }

      .preview {
        @include flexCenter();
        padding: 50px;

        a {
          overflow: hidden;
          border-radius: 10px;
          border: 1px solid $dark-primary;
          img {
            width: 100%;
            max-width: 300px;
            height: auto;
            transition: all 0.45s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .clauBdayContent {
      &:after {
        left: 35.71vw;
      }
      .preview {
        @include flexCenter();
        padding: 50px;

        a {
          overflow: hidden;
          border-radius: 10px;
          border: 1px solid $dark-primary;
          img {
            width: 100%;
            max-width: 300px;
            height: auto;
            transition: all 0.45s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .labelsContent {
      &:after {
        left: 50%;
      }

      .preview {
        @include flexCenter();
        padding: 50px;

        a {
          overflow: hidden;
          border-radius: 10px;
          border: 1px solid $dark-primary;
          img {
            width: 100%;
            max-width: 300px;
            height: auto;
            transition: all 0.45s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .nativeContent {
      &:after {
        left: 64.28vw;
      }

      .preview {
        @include flexCenter();
        padding: 70px;
        padding-top: 0;
        padding-bottom: 0;

        @include max-width(767px) {
          padding-top: 20px;
        }

        img {
          border-radius: 10px;
          border: 1px solid $dark-primary;
          width: 100%;
          max-width: 300px;
          height: auto;
          transition: all 0.45s ease-in-out;
        }
      }
    }
    .othersContent {
      &:after {
        left: 78.57vw;
      }
      display: grid;
      gap: 20px;
      padding-bottom: 5px;

      h2,
      h3 {
        margin-left: 15px;
      }

      h3 {
        margin-bottom: 20px;
      }

      .previews {
        width: 100%;
        display: grid;
        justify-content: center;
        max-width: 1400px;
        justify-self: center;

        .preview {
          width: 100%;
          margin-bottom: 15px;
          padding: 0;

          @include flexCenter();
          flex-direction: column;

          h3 {
            font-weight: bold;
            margin: 10px;
            text-decoration: underline;
            text-decoration-color: rgba(47, 156, 168, 1);
          }

          img {
            border-radius: 10px;
            width: 300px;
            height: auto;
            transition: all 0.45s ease-in-out;
          }
        }

        @include min-width(767px) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 230px);

          .invaders {
            grid-row: 1 / 3;
          }
          .agario {
            grid-column: 1 / 3;
          }
        }

        @include min-width(1050px) {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 230px);

          .invaders {
            grid-row: 1 / 3;
          }
          .agario {
            grid-column: 2 / 4;
          }

          .invaders img:hover {
            position: relative;
            transform: scale(2) translateX(100px);
            border: 1px solid white;
            z-index: 10;
          }
          .asteroids img:hover {
            position: relative;
            transform: scale(2);
            border: 1px solid white;
            z-index: 10;
          }
          .agario img:hover,
          .pong img:hover {
            position: relative;
            transform: scale(2) translateX(-100px);
            border: 1px solid white;
            z-index: 10;
          }
        }
        @include min-width(1400px) {
          grid-template-columns: repeat(4, 1fr);
          align-items: flex-start;

          .invaders {
            grid-row: 1 / 3;
          }
          .agario {
            grid-column: 4 / 5;
          }

          .asteroids img:hover {
            position: relative;
            transform: scale(2) translateX(100px);
            border: 1px solid white;
            z-index: 10;
          }
        }
      }
    }
  }

  //content appearing transition
  .projectsFirst:checked ~ .projectContent .semteContent,
  .projectsSecond:checked ~ .projectContent .clauBdayContent,
  .projectsThird:checked ~ .projectContent .labelsContent,
  .projectsFourth:checked ~ .projectContent .nativeContent,
  .projectsFifth:checked ~ .projectContent .othersContent {
    opacity: 1;
    z-index: 1;
    transition: all 0.25s ease-in-out 0.25s;
    position: static;
  }

  //checked scale transitions
  .projectsFirst:checked ~ .projectLogos .firstProj,
  .projectsSecond:checked ~ .projectLogos .secondProj,
  .projectsThird:checked ~ .projectLogos .thirdProj,
  .projectsFourth:checked ~ .projectLogos .fourthProj,
  .projectsFifth:checked ~ .projectLogos .fifthProj {
    transform: scale(1.5);
    &:hover img {
      box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
        2px 2px 5px rgba(0, 0, 0, 0.8);
    }
  }

  //right transitions
  .projectsFirst:checked ~ .projectLogos .secondProj {
    transform: scale(0.6) translateX(calc((20vw - 60%) / 2 + 30vw));
    &:hover {
      transform: translateY(-10px) scale(0.6)
        translateX(calc((20vw - 60%) / 2 + 30vw));
      img {
        box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
          2px 12px 20px rgba(0, 0, 0, 0.4);
      }
    }
  }
  .projectsFirst:checked ~ .projectLogos .thirdProj,
  .projectsSecond:checked ~ .projectLogos .thirdProj {
    transform: scale(0.6) translateX(calc((20vw - 60%) / 2 + 20vw));
    &:hover {
      transform: translateY(-10px) scale(0.6)
        translateX(calc((20vw - 60%) / 2 + 20vw));
      img {
        box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
          2px 12px 20px rgba(0, 0, 0, 0.4);
      }
    }
  }
  .projectsFirst:checked ~ .projectLogos .fourthProj,
  .projectsSecond:checked ~ .projectLogos .fourthProj,
  .projectsThird:checked ~ .projectLogos .fourthProj {
    transform: scale(0.6) translateX(calc((20vw - 60%) / 2 + 10vw));
    &:hover {
      transform: translateY(-10px) scale(0.6)
        translateX(calc((20vw - 60%) / 2 + 10vw));
      img {
        box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
          2px 12px 20px rgba(0, 0, 0, 0.4);
      }
    }
  }
  .projectsFirst:checked ~ .projectLogos .fifthProj,
  .projectsSecond:checked ~ .projectLogos .fifthProj,
  .projectsThird:checked ~ .projectLogos .fifthProj,
  .projectsFourth:checked ~ .projectLogos .fifthProj {
    transform: scale(0.6) translateX(calc((20vw - 60%) / 2));
    &:hover {
      transform: translateY(-10px) scale(0.6) translateX(calc((20vw - 60%) / 2));
      ç img {
        box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
          2px 12px 20px rgba(0, 0, 0, 0.4);
      }
    }
  }

  //left transitions
  .projectsSecond:checked ~ .projectLogos .firstProj,
  .projectsThird:checked ~ .projectLogos .firstProj,
  .projectsFourth:checked ~ .projectLogos .firstProj,
  .projectsFifth:checked ~ .projectLogos .firstProj {
    transform: scale(0.6) translateX(calc((-20vw + 60%) / 2));
    &:hover {
      transform: translateY(-10px) scale(0.6)
        translateX(calc((-20vw + 60%) / 2));
      img {
        box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
          2px 12px 20px rgba(0, 0, 0, 0.4);
      }
    }
  }
  .projectsThird:checked ~ .projectLogos .secondProj,
  .projectsFourth:checked ~ .projectLogos .secondProj,
  .projectsFifth:checked ~ .projectLogos .secondProj {
    transform: scale(0.6) translateX(calc((-20vw + 60%) / 2 - 10vw));
    &:hover {
      transform: translateY(-10px) scale(0.6)
        translateX(calc((-20vw + 60%) / 2 - 10vw));
      img {
        box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
          2px 12px 20px rgba(0, 0, 0, 0.4);
      }
    }
  }
  .projectsFourth:checked ~ .projectLogos .thirdProj,
  .projectsFifth:checked ~ .projectLogos .thirdProj {
    transform: scale(0.6) translateX(calc((-20vw + 60%) / 2 - 20vw));
    &:hover {
      transform: translateY(-10px) scale(0.6)
        translateX(calc((-20vw + 60%) / 2 - 20vw));
      img {
        box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
          2px 12px 20px rgba(0, 0, 0, 0.4);
      }
    }
  }
  .projectsFifth:checked ~ .projectLogos .fourthProj {
    transform: scale(0.6) translateX(calc((-20vw + 60%) / 2 - 30vw));
    &:hover {
      transform: translateY(-10px) scale(0.6)
        translateX(calc((-20vw + 60%) / 2 - 30vw));
      img {
        box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
          2px 12px 20px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

@keyframes left-to-right {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-100);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes right-to-left {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(100);
  }
  100% {
    transform: translate(0);
  }
}
