@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  padding: 50px;
}

.skillText {
  margin-left: 20px;
  h3 {
    margin: 2rem;
  }
}

.skill {
  transition: all 0.2s ease-in-out;
  display: flex;

  &:hover {
    transform: scale(1.1);
  }

  .languangeImg {
    @include flexCenter();
    padding: 5%;

    img {
      width: 100%;
      height: auto;
    }
  }
  .languangeChart {
    @include flexCenter();
    padding: 5px;
    height: 100%;
    justify-content: flex-start;

    .tooltiptext {
      opacity: 0;
      padding: 15px 0;
      position: absolute;
      top: 0;
      transition: all 0.2s ease-in-out;
    }

    div {
      width: 100%;
      height: 20%;
      border-radius: 20px;
      display: flex;
      justify-content: flex-start;
      box-shadow: 1px 1px 1px 1px;

      div {
        height: 100%;
        border-radius: 20px;
        box-shadow: none;

        .chart {
          width: 0%;
          height: 100%;
          border-radius: 20px;
          box-shadow: none;
          transition: all 1s ease-in-out;
        }
      }
    }
  }

  &:hover .languangeChart .tooltiptext {
    opacity: 1;
  }
}

.revealed {
  width: 100% !important;
}
