.dark-mode {
  color: $dark-primary;

  .sticky-nav--toggler:hover {
    filter: none;
  }

  .content-background {
    background-color: $dark-section-background;
  }

  .cursorMain > div, .bg-blob {
    background: #2f9ca8;
  }

  .upper-curve {
    path {
      fill: $dark-section-background;
    }
  }

  .bottom-curve {
    path {
      fill: url(#dark-gradient);
    }
  }

  .project-card--content {
    background-color: #212121;

    &--tags span {
      background: rgba(85, 206, 214, 1);
    }
  }

  h1,
  .skill__chart--tooltiptext span,
  li {
    color: rgba(255, 255, 255, 0.87);
  }

  h2,
  h3,
  p {
    color: rgba(255, 255, 255, 0.6);
  }

  .contact-container > div {
    background: linear-gradient(
      90deg,
      #54c7d3 0%,
      #3baab6 100%
    );
  
    @include min-width($s) {
      background: linear-gradient(
        90deg,
        $accent 0%,
        #54c7d3 100%
      );
    }
    
    @include min-width($m) {
      background: $dark-gradient;
    }

    & ul .contactItem a:hover {
      color: #7af2ff;
      text-decoration: none;
    }
  }

  .headerContainer header .typewriter h1 {
    color: $dark-primary;
  }

  .about svg path {
      fill: white;
  }


  .skills .skillText div h3::before {
    box-shadow: none;
  }

  .skill__chart--bar > div {
    box-shadow: 1px 1px 1px 1px black !important;
    background: rgba(255, 255, 255, 0.15);

    div {
      box-shadow: none;
      background: transparent;
    }
  }
}
