.dark-mode {
  background-color: $dark-background;
  color: $dark-primary;

  h1,
  span,
  li {
    color: rgba(255, 255, 255, 0.87);
  }

  h2,
  h3,
  p,
  .contact ul .contactItem a {
    color: rgba(255, 255, 255, 0.6);
  }

  .contact ul .contactItem a:hover {
    color: #7af2ff;
    text-decoration: none;
  }

  .headerContainer header .typewriter h1 {
    color: $dark-primary;
  }

  .sticky .faceContainer {
    background: rgba(255, 255, 255, 0.1);
  }

  .education .timeline .educationFirst:checked ~ ul .l1,
  .education .timeline .educationSecond:checked ~ ul .l2,
  .education .timeline .educationThird:checked ~ ul .l3,
  .education .timeline ul li:hover {
    color: white;
  }

  .education .timeline ul li::after {
    border-color: white;
    background-color: $dark-background;
  }

  .education .timeline .content .firstContent,
  .education .timeline .content .secondContent,
  .education .timeline .content .thirdContent {
    background: linear-gradient(180deg, $accent 0%, $accent-darker 100%);
    h3,
    h2 {
      color: black;
    }
  }

  .about,
  .skills,
  .education,
  .projects,
  .contact {
    box-shadow: none;
    background-color: #191919;
  }

  .skills .skillText div h3::before {
    box-shadow: none;
  }

  .skills .chartContainer .skill .languangeChart .bar div {
    box-shadow: 1px 1px 1px 1px black;
    background: rgba(255, 255, 255, 0.05);

    div {
      box-shadow: none;
      background: transparent;
    }
  }

  .projects .projectContent .semteContent,
  .projects .projectContent .clauBdayContent,
  .projects .projectContent .labelsContent,
  .projects .projectContent .nativeContent,
  .projects .projectContent .othersContent {
    background: linear-gradient(180deg, $dark-primary 0%, #191919 100%);

    &::after {
      border-bottom-color: $dark-primary;
    }
  }

  .contact ul .contactItem .contactIcon {
    background-color: $accent;
  }
}
