@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spinBack {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spinBack {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

header {
  height: 100vh;
  width: 100%;
  background-color: #7fffd4;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: fixed;
  top: 0;
  z-index: 100;
}

header img {
  width: 200px;
  height: 200px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

header h1 {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sticky {
  height: 110px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #272727;
}

.sticky img {
  width: 100px;
  height: 100px;
  left: 60px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.sticky h1 {
  color: #7fffd4;
  top: 35px;
  left: 140px;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.headerLogosInner {
  position: relative;
  width: 40vmax;
  height: 40vmax;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  -webkit-animation: spin 20s linear 0s infinite;
          animation: spin 20s linear 0s infinite;
  margin: 0 auto 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  position: fixed;
  top: 0;
  background-color: transparent;
}

.headerLogosInner > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: auto;
  margin: -30px;
}

.headerLogosInner > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(20vmax) rotate(0deg);
          transform: rotate(0deg) translate(20vmax) rotate(0deg);
}

.headerLogosInner > *:nth-of-type(2) {
  -webkit-transform: rotate(51.42857deg) translate(20vmax) rotate(-51.42857deg);
          transform: rotate(51.42857deg) translate(20vmax) rotate(-51.42857deg);
}

.headerLogosInner > *:nth-of-type(3) {
  -webkit-transform: rotate(102.85714deg) translate(20vmax) rotate(-102.85714deg);
          transform: rotate(102.85714deg) translate(20vmax) rotate(-102.85714deg);
}

.headerLogosInner > *:nth-of-type(4) {
  -webkit-transform: rotate(154.28571deg) translate(20vmax) rotate(-154.28571deg);
          transform: rotate(154.28571deg) translate(20vmax) rotate(-154.28571deg);
}

.headerLogosInner > *:nth-of-type(5) {
  -webkit-transform: rotate(205.71429deg) translate(20vmax) rotate(-205.71429deg);
          transform: rotate(205.71429deg) translate(20vmax) rotate(-205.71429deg);
}

.headerLogosInner > *:nth-of-type(6) {
  -webkit-transform: rotate(257.14286deg) translate(20vmax) rotate(-257.14286deg);
          transform: rotate(257.14286deg) translate(20vmax) rotate(-257.14286deg);
}

.headerLogosInner > *:nth-of-type(7) {
  -webkit-transform: rotate(308.57143deg) translate(20vmax) rotate(-308.57143deg);
          transform: rotate(308.57143deg) translate(20vmax) rotate(-308.57143deg);
}

.headerLogosInner img {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.headerLogosOuter {
  position: relative;
  width: 80vmax;
  height: 80vmax;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  -webkit-animation: spinBack 20s linear 0s infinite;
          animation: spinBack 20s linear 0s infinite;
  margin: 0 auto 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  position: fixed;
  top: 0;
  background-color: transparent;
}

.headerLogosOuter > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: auto;
  margin: -30px;
}

.headerLogosOuter > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(40vmax) rotate(0deg);
          transform: rotate(0deg) translate(40vmax) rotate(0deg);
}

.headerLogosOuter > *:nth-of-type(2) {
  -webkit-transform: rotate(40deg) translate(40vmax) rotate(-40deg);
          transform: rotate(40deg) translate(40vmax) rotate(-40deg);
}

.headerLogosOuter > *:nth-of-type(3) {
  -webkit-transform: rotate(80deg) translate(40vmax) rotate(-80deg);
          transform: rotate(80deg) translate(40vmax) rotate(-80deg);
}

.headerLogosOuter > *:nth-of-type(4) {
  -webkit-transform: rotate(120deg) translate(40vmax) rotate(-120deg);
          transform: rotate(120deg) translate(40vmax) rotate(-120deg);
}

.headerLogosOuter > *:nth-of-type(5) {
  -webkit-transform: rotate(160deg) translate(40vmax) rotate(-160deg);
          transform: rotate(160deg) translate(40vmax) rotate(-160deg);
}

.headerLogosOuter > *:nth-of-type(6) {
  -webkit-transform: rotate(200deg) translate(40vmax) rotate(-200deg);
          transform: rotate(200deg) translate(40vmax) rotate(-200deg);
}

.headerLogosOuter > *:nth-of-type(7) {
  -webkit-transform: rotate(240deg) translate(40vmax) rotate(-240deg);
          transform: rotate(240deg) translate(40vmax) rotate(-240deg);
}

.headerLogosOuter > *:nth-of-type(8) {
  -webkit-transform: rotate(280deg) translate(40vmax) rotate(-280deg);
          transform: rotate(280deg) translate(40vmax) rotate(-280deg);
}

.headerLogosOuter > *:nth-of-type(9) {
  -webkit-transform: rotate(320deg) translate(40vmax) rotate(-320deg);
          transform: rotate(320deg) translate(40vmax) rotate(-320deg);
}

.headerLogosOuter img {
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.stickyOuter {
  -webkit-animation: spin 0.8s linear 0s;
          animation: spin 0.8s linear 0s;
}

.stickyOuter img {
  opacity: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.stickyInner {
  -webkit-animation: spinBack 0.8s linear 0s;
          animation: spinBack 0.8s linear 0s;
}

.stickyInner img {
  opacity: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.zIndex {
  z-index: -1;
}

.about {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  padding: 50px;
  padding-bottom: 0;
  margin-top: 200vh;
}

.about h1 {
  margin-bottom: 20px;
}

.sticky-margin {
  margin-top: 200px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.skills {
  padding: 50px;
}

.skillText {
  margin-left: 20px;
}

.skillText h3 {
  margin: 2rem;
}

.skill {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skill .languangeImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

.skill .languangeImg img {
  width: 100%;
  height: auto;
}

.skill .languangeChart {
  padding: 5px;
  height: 100%;
}

.skill .languangeChart .tooltiptext {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.skill .languangeChart .tooltiptext span {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 100%;
}

.skill .languangeChart .bar {
  height: 60%;
}

.skill .languangeChart .bar div {
  width: 100%;
  height: 33%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 1px 1px 1px 1px;
          box-shadow: 1px 1px 1px 1px;
}

.skill .languangeChart .bar div div {
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.skill .languangeChart .bar div div .chart {
  width: 0%;
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.skill:hover .languangeChart .tooltiptext span {
  opacity: 1 !important;
}

.revealed {
  width: 100% !important;
}

.education {
  height: 100vh;
  padding: 50px;
  padding-bottom: 0;
}

.education h1 {
  margin-bottom: 20px;
}

.education .timeline {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education .timeline input {
  display: none;
}

.education .timeline ul {
  width: 90%;
  max-width: 1400px;
  list-style: none;
  position: absolute;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.education .timeline ul li {
  float: left;
  width: 33.33%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 50px;
  font-size: 1.1rem;
  white-space: nowrap;
}

.education .timeline ul li::after {
  content: "";
  border: 2px solid #272727;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  margin: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  background-color: white;
}

.education .timeline ul .line {
  width: 66.66%;
  margin: auto;
  height: 7px;
  position: absolute;
  bottom: 12px;
  z-index: 1;
}

.education .timeline ul .line span {
  content: " ";
  border-radius: 50px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #7fffd4), to(#272727));
  background: linear-gradient(to right, #7fffd4 70%, #272727 100%);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  position: absolute;
}

.education .timeline .content {
  position: absolute;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.education .timeline .content .firstContent,
.education .timeline .content .secondContent,
.education .timeline .content .thirdContent {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  position: absolute;
  top: 0;
  width: 80vw;
  max-width: 1200px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #7fffd4), to(white));
  background: linear-gradient(180deg, #7fffd4 70%, white 100%);
  padding: 20px;
  -webkit-box-shadow: 0px 3px 1px 1px;
          box-shadow: 0px 3px 1px 1px;
  border-radius: 20px;
}

.education .timeline .content .firstContent h2 {
  margin: 20px;
  font-size: 2.2rem;
}

.education .timeline .content .firstContent .schoolLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education .timeline .content .firstContent .schoolLogo img {
  width: 80%;
  max-width: 150px;
  margin-bottom: 20px;
}

.education .timeline .content .secondContent h2 {
  margin: 20px;
  font-size: 2.2rem;
}

.education .timeline .content .secondContent .schoolLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education .timeline .content .secondContent .schoolLogo img {
  width: 50%;
  max-width: 120px;
  margin-bottom: 20px;
}

.education .timeline .content .secondContent .schoolLogo #angloLogo {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.education .timeline .content .secondContent .schoolLogo #utpLogo {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.education .timeline .content .thirdContent h2 {
  margin: 20px;
  font-size: 2.2rem;
}

.education .timeline .content .thirdContent .schoolLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education .timeline .content .thirdContent .schoolLogo img {
  width: 80%;
  max-width: 110px;
  margin-bottom: 20px;
}

.education .timeline .first:checked ~ .content .firstContent,
.education .timeline .second:checked ~ .content .secondContent,
.education .timeline .third:checked ~ .content .thirdContent {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.7s ease-in-out 0.7s;
  transition: all 0.7s ease-in-out 0.7s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 3;
}

.education .timeline .first:checked ~ ul .line span {
  width: 0%;
}

.education .timeline .second:checked ~ ul .line span {
  width: 50%;
}

.education .timeline .third:checked ~ ul .line span {
  width: 100%;
}

.education .timeline .first:checked ~ ul .l1::after,
.education .timeline .second:checked ~ ul .l2::after,
.education .timeline .third:checked ~ ul .l3::after,
.education .timeline ul li:hover::after {
  border: 4px solid #7fffd4;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.education .timeline .first:checked ~ ul .l1,
.education .timeline .second:checked ~ ul .l2,
.education .timeline .third:checked ~ ul .l3,
.education .timeline ul li:hover {
  font-weight: bolder;
  font-size: 1.2rem;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

body {
  font-family: "Raleway", sans-serif;
  color: #272727;
  background-color: white;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow img {
  z-index: 200;
  width: 100px;
  height: auto;
}
/*# sourceMappingURL=App.css.map */