$primary: white;
$accent: #7af2ff;
$dark-primary: #272727;
$dark-background: rgb(31, 31, 31);
$text: #272727;
$gradient: linear-gradient(90deg, #7fffd4 0%, #7af2ff 50%, #2f9ca8 100%);

@import "./components/common";

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Raleway", sans-serif;
  color: $text;
  background-color: $primary;
  overflow: hidden;
  transition: background-color 0.3s;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
}

.arrow {
  @include flexCenter();
  cursor: pointer;

  img {
    z-index: 200;
    width: 100px;
    height: auto;
  }
}

@include min-width(500px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.row {
  margin: 0 !important;
}

@import "./components/header";
@import "./components/about";
@import "./components/skills";
@import "./components/education";
@import "./components/projects";
@import "./components/contact";
@import "./components/theme";
