@keyframes moveX {
  0% {transform: translateX(-40%)};
  50% {transform: translateX(40%)};
  100% {transform: translateX(-40%)};
}
@keyframes moveY {
  0% {transform: translateY(-40%)};
  50% {transform: translateY(40%)};
  100% {transform: translateY(-40%)};
}

@keyframes moveX-small {
  0% {transform: translate(-60%, -50%)};
  50% {transform: translate(-40%, -50%)};
  100% {transform: translate(-60%, -50%)};
}
@keyframes moveY-small {
  0% {transform: translate(-50%, -60%)};
  50% {transform: translate(-50%, -40%)};
  100% {transform: translate(-50%, -60%)};
}

.backgroundBlobs {
  pointer-events: none;
  filter: url('#goo');

  .bg-blob {
    position: absolute;
    transition: background 0.5s;
    will-change: transform;
    border-radius: 50%;
    background: var(--accent);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 0.6;
    transform: translate(-50%, -50%);

    &::after {
      content: '';
      position: absolute;
      top: 10%;
      left: 10%;
      width: 40%;
      height: 40%;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.8);
    }

    &.move-x {
      transform: translateX(-40%);
      animation: moveX 12s ease-in-out 0s infinite;
    }

    &.move-y {
      transform: translateY(-40%);
      animation: moveY 10s ease-in-out 3s infinite;
    }
  }
}

.projects-blob-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  & > div {
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    transform: scale(0.2);

    &.visible {
      transform: scale(1)
    }
  }

  .bg-blob {
    &::after {
      background: #ffffff66
    }
    width: 50%;
    height: 50%;
    max-height: 100vw;

    &.move-x {
      animation: moveX-small 20s ease-in-out 0s infinite;
    }

    &.move-y {
      animation: moveY-small 15s ease-in-out 3s infinite;
    }

    &:nth-child(1) {
      width: 60%;
      height: 60%;
      top: 45%;
      left: 35%;
    }
    &:nth-child(2) {
      top: 40%;
      left: 60%;
    }
    &:nth-child(3) {
      top: 60%;
      left: 40%;
    }
    &:nth-child(4) {
      top: 60%;
      left: 60%;
    }
    &:nth-child(5) {
      top: 40%;
      left: 50%;
    }
    &:nth-child(6) {
      top: 60%;
      left: 50%;
    }
  }
}

.cursorMain {
  transform: scale(0.5);
  position: absolute;
  z-index: 10;
  pointer-events: none;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  filter: url('#cursor-goo');
  overflow: hidden;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  
  & > div {
    position: absolute;
    will-change: transform;
    border-radius: 50%;
    transition: background 1s, box-shadow 0.4s, opacity 1s;
    background: var(--accent);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 0.6;

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.8);
    }

    &:nth-child(1) {
      width: 30px;
      height: 30px;
      
    }
    
    &:nth-child(2) {
      width: 40px;
      height: 40px;
      
      &::after {
        width: 20px;
        height: 20px;
      }
    }
  }
  
  &.onHeader > div {
    background: var(--accent-darker);
  }

  &.hover-small > div:nth-child(2) {
    opacity: 0.05;
    transition: opacity 1s;
  }

  &.hover-invisible > div {
    opacity: 0;
    transition: opacity 1s;
  }

  &.hover-big > div {
    box-shadow: 10px 10px 5px 70px var(--cursor-big-hover);
  }
}
